/* common shared style */
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight:600;
    padding: 12px 30px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-des{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav .title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
    margin-bottom: 20px;
}
.btnc{
    background-color: white;
    border:2px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
}
/* main section style */
main{
    max-width: 1140px;
    margin:0 auto;
}
/* about section style */
.about{
    padding: 130px;
    background-color: #FFF8F3;
    margin-top: 130px;
    margin-bottom: 120px;
}
.about-infocon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
.title-info,.info-descripton{
    text-align: center;
}
/* What I do section style */
#what-i-do-des{
    padding:30px 150px;
}
.skill-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.skill{
    text-align: center;
    box-shadow: 1px 1px 5px black;
    padding: 25px;
    margin: 10px;
}
/* Resume section style */
#resume-title{
    padding: 50px 0px;
}
.qualification{
    display: flex;
    justify-content: space-between;
}
.resume-container{
    padding: 5px 50px;
}
.resume-title{
    padding-bottom: 10px;
    font-size: 28px;
}
.resume-sub{
    margin-bottom: 3px;
    margin-top: 30px;
}
.resume-int{
    margin-bottom: 10px;
    font-weight: 600;
    color: #474747;
}
.resume-des{
    margin: 20px 20px 20px 0px;
}
#btn-resume{
    position: absolute;
    left: 680px;
}
/* Footer section style */
.footer{
    background-color: #FFF8F3;
    margin-top: 130px;
}
.contact-address{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}
.contact-des{
    margin: 20px 0px;
    padding-right: 350px;
}
form{
    margin-top: 20px;
}
input{
    border: none;
    height: 25px;
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
}
textarea{
    border: none;
    padding: 10px;
}
#btn-action{
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-family: 800;
    border-radius: 5px;
}